{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Nemy POS - Advanced Point of Sale System">
    
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    
    <title>{% block title %}Nemy POS{% endblock %} | Advanced POS System</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    
    <!-- Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <!-- Third-party CSS -->
    <link href="{% static 'plugins/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet">
    
    <!-- Page Specific CSS -->
    {% block extra_css %}{% endblock %}
    
    <!-- Custom Styles -->
    {% block custom_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <!-- Preloader -->
    {% include 'components/preloader.html' %}
    
    <!-- Main Layout -->
    <div class="wrapper">
        <!-- Sidebar -->
        {% if request.user.is_authenticated %}
            {% include 'components/sidebar.html' %}
        {% endif %}
        
        <!-- Main Content -->
        <div class="main-content">
            <!-- Top Navigation -->
            {% include 'components/header.html' %}
            
            <!-- Page Content -->
            <div class="content-wrapper">
                <!-- Breadcrumbs -->
                {% block breadcrumbs %}{% endblock %}
                
                <!-- Flash Messages -->
                {% include 'components/messages.html' %}
                
                <!-- Main Content Area -->
                {% block content %}{% endblock %}
            </div>
            
            <!-- Footer -->
            {% include 'components/footer.html' %}
        </div>
    </div>
    
    <!-- Core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Third-party JavaScript -->
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    
    <!-- Global JavaScript Variables -->
    <script>
        window.CSRF_TOKEN = '{{ csrf_token }}';
        window.BASE_URL = '{{ request.scheme }}://{{ request.get_host }}';
        
        // Global AJAX Setup
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': window.CSRF_TOKEN
            }
        });
    </script>
    
    <!-- Page Specific JavaScript -->
    {% block extra_js %}{% endblock %}
    
    <!-- Custom Scripts -->
    {% block custom_js %}{% endblock %}
</body>
</html> 